<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home - Administrador</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
    <div class="home-container">
        <h1>Bienvenido al panel de administración</h1>
        <nav>
            <ul>
                <li><a th:href="@{/usuarios}">Ver Lista de Usuarios</a></li>
                <li><a th:href="@{/pedidos}">Ver Todos los Pedidos</a></li>
                <li><a th:href="@{/recetas}">Ver Todas las Recetas</a></li>
                <li><a th:href="@{/cocineros}">Ver Todos los Cocineros</a></li>
                <li><a th:href="@{/pasteles}">Ver Todos los Pasteles Hechos</a></li>
                <li><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </nav>
    </div>
	<!-- Fragmento común para la sección del home -->
	<div th:replace="fragments/home-fragment :: homeSection"></div>
</body>
</html>
