<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home - Usuario</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
	
	<div th:replace="~{fragments/user-navbar :: userNavbar}"></div>
	<br>
	<div class="home-container">
        <h1>Bienvenido, <span th:text="${nombreUsuario}"></span></h1>
        <br>
        <!-- Fragmento común para la sección del home -->
        <div th:replace="~{fragments/home-fragment :: homeSection}"></div>
    </div>
	

</body>
</html>
